<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            h1 {
                font: sans-serif;
            }
            form {
                background-color: #eee;
                padding: 20px;
                margin: 0;
                width: 540px;
                font: sans-serif;
                border-radius: 10px;
            }
            textarea {
                margin: 10px 0;
                width: 540px;
                height: 120px;
            }
            .error{
                color: red;
            }
        </style>
    </head>
<body>

    {% block content %}
    {% endblock %}

</body>
</html>