{% extends "base.html" %}

{% block content %}
<h1>Signup</h1>
        <form method="POST">
                <label for="username">Username   </label>
                <input name="username" type="text" value="{{username}}" id="username" /><div class="error">{{invalid_username}}</div>
                <label for="password">Password   </label>
                <input name="password" type="password" value="{{password}}" id="password" /><div class="error">{{invalid_password}}</div>
                <label for="verify">Verify Password   </label>
                <input name="verify" type="password" value="{{verify}}" id="verify" /><div class="error">{{verify_error}}</div>
                <label for="email">Email   </label>
                <input name="email" type="text" value="{{email}}" id="email" /><div class="error">{{invalid_email}}</div>
                <input type="submit" />
        </form>
{% endblock %}